@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,500,300,700,400);

body{
  display: table;
  width: 100%;
  background: #717070;
  text-align: center;
}
*{ 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

table{
   background: #fff;
}
table,thead,tbody,tfoot,tr, td,th{
  text-align: center;
  margin: auto;
  padding: 1rem;
  margin-top: 20px;
}
.table    { display: table; width: 100%; }
.tr       { display: table-row;  }
.thead    { display: table-header-group }
.tbody    { display: table-row-group }
.tfoot    { display: table-footer-group }
.col      { display: table-column }
.colgroup { display: table-column-group }
.td, .th   { display: table-cell;}
.caption  { display: table-caption }

.table,
.thead,
.tbody,
.tfoot,
.tr,
.td,
.th{
  text-align: center;
  margin: auto;
  padding: 1rem;
}
.table{
  background: #fff;
  margin: auto;
  border:none;
  padding: 0;
  margin-bottom: 5rem;
  width: 100%;
}

.th{
  font-weight: 700;
  border:1px solid #dedede;
    border-right:none;
  }

.td{
  font-weight: 300;
  border:1px solid #dedede;
  border-top:none;
    border-right:none;
  }

.one, .two, .three {
    display: inline;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

.search_bar {
    float: left;
    width: 10%;
    padding: 10px;
    background: #020202;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.sort-name {
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
}

.sort-id {
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    float: right;
    margin-bottom: 60px;
}

.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .search button {
    float: left;
    width: 50px;
    padding: 10px;
    background: #020202;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  .search button:hover {
    background: #5f6163;
  }
  
  /* Clear floats */
  .search::after {
    content: "";
    clear: both;
    display: table;
  }

#userForm {
        box-sizing: border-box;
        color : white
        }
      
      input[type=text], select, textarea {
        width: 50%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        float: center
      }
      
      label {
        padding: 12px;
        display: inline-block;
        margin-left: 30;
      }

      input[type=email], select, textarea {
        width: 50%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        float: center;
      }

      label[type=email], select, textarea {
        padding: 12px;
        display: inline-block;
      }
      
      input[type=submit] {
        background-color: #f1f4f1;
        color: rgb(0, 0, 0);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: center;
        font-weight: bolder;
      }
      
      input[type=submit]:hover {
        background-color: #707270;
      }
      
      .container {
        border-radius: 5px;
        background-color: #0f0f0f;
        padding: 20px;
      }
      

      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .view-button{
        border: none;
        color: white;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 10px;
        cursor: pointer;
         }

      .update-button{
        border: none;
        color: white;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 10px;
        cursor: pointer;
         }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }

      legend {
        font-size: large;
        font-weight: bold;
        color: white;
      }

  